table {
    font-family: sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-radius: 0 10px 10px 10px;
    overflow: hidden;
    color: #1b1b1b;
}

thead {
    background-color: var(--base-color);
}

th,
td {
    border: 1px solid #DFDBD8;
    padding: 16px;
    text-align: left;
}

tbody tr {
    background-color: #ffff;
    transition: background-color 120ms ease;
    cursor: pointer;
}

tbody tr:hover {
    background-color: var(--base-color);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    cursor: pointer;
}

.route-nav {
    font-size: 1em;
    color: #1b1b1b;
    width: fit-content;
}



.route-nav ul li{
    background-color: var(--milky);
    padding: 16px 32px;
    border-radius: 8px 8px 0 0;
    transition: 120ms;
}
  
.route-nav ul li:hover{
    transform: 120ms;
    scale: 110%;
}

  .route-nav ul li.active {
    background-color: var(--base-color);
    transition: 120ms;
    scale: 100% !important;
    color: #1b1b1b;
    font-weight: 600;
  }

  .table-wrapper{
    margin: 32px;
    width: 100%;
  }